BasedOnStyle: LLVM
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
ContinuationIndentWidth: 2
IndentWidth: 2
NamespaceIndentation: Inner
PointerAlignment: Left
ReferenceAlignment: Left
Standard: c++17

# Wait for it to be published in clang-14
# AlignAfterOpenBracket: BlockIndent
# PackConstructorInitializers: Never
